In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import re

## Manipulating string

In [52]:
newtrain = pd.read_csv("newtrain.csv")

In [53]:
newtrain.head()

,Unnamed: 0,id,qid1,qid2,question1,question2,is_duplicate
0,0,0,1,2,"['what', 'step', 'step', 'guid', 'invest', 'sh...","['what', 'step', 'step', 'guid', 'invest', 'sh...",0
1,1,1,3,4,"['what', 'stori', 'kohinoor', 'koh-i-noor', 'd...","['what', 'happen', 'indian', 'govern', 'stole'...",0
2,2,2,5,6,"['how', 'increas', 'speed', 'internet', 'conne...","['how', 'internet', 'speed', 'increas', 'hack'...",0
3,3,3,7,8,"['whi', 'mental', 'veri', 'lone', 'how', 'solv']","['remaind', 'when', '[', 'math', ']', '23^', '...",0
4,4,4,9,10,"['which', 'dissolv', 'water', 'quikli', 'sugar...","['which', 'fish', 'surviv', 'salt', 'water']",0

In [54]:
newtrain['question1'] = newtrain['question1'].apply(lambda s: re.sub(r"\', '"," ", s)).apply(lambda x: x[2:-2])#.apply(lambda y: raw(y))
newtrain['question2'] = newtrain['question2'].apply(lambda s: re.sub(r"\', '"," ", s)).apply(lambda x: x[2:-2])#.apply(lambda y: raw(y))

In [46]:
newtrain.head()

,Unnamed: 0,id,qid1,qid2,question1,question2,is_duplicate
0,0,0,1,2,what step step guid invest share market india,what step step guid invest share market,0
1,1,1,3,4,what stori kohinoor koh-i-noor diamond,what happen indian govern stole kohinoor koh-i...,0
2,2,2,5,6,how increas speed internet connect vpn,how internet speed increas hack dn,0
3,3,3,7,8,whi mental veri lone how solv,remaind when [ math ] 23^ { 24 } [ math ] divi...,0
4,4,4,9,10,which dissolv water quikli sugar salt methan c...,which fish surviv salt water,0

In [66]:
import re, math
from collections import Counter

WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
     intersection = set(vec1.keys()) & set(vec2.keys())
     numerator = sum([vec1[x] * vec2[x] for x in intersection])

     sum1 = sum([vec1[x]**2 for x in vec1.keys()])
     sum2 = sum([vec2[x]**2 for x in vec2.keys()])
     denominator = math.sqrt(sum1) * math.sqrt(sum2)

     if not denominator:
        return 0.0
     else:
        return float(numerator) / denominator
    
def text_to_vector(text):
     words = WORD.findall(text)
     return Counter(words)

In [71]:
# example

text1 = 'This is a foo bar sentence .'
text2 = 'This sentence is similar to a foo bar sentence .'

vector1 = text_to_vector(text1)
vector2 = text_to_vector(text2)

get_cosine(vector1, vector2)

0.8616404368553293

In [58]:
# Vectorize the data
vec = TfidfVectorizer()
cos_sim = []
for i in range(len(newtrain)):
    try:
        X = vec.fit_transform([newtrain.question1.iloc[i], newtrain.question2.iloc[i]])
        S = cosine_similarity(X)
        cos_sim.append(S[0,1])
    except: 
        cos_sim.append(0)